@font-face {
    font-family: 'Nunito';
    src: url('../assets/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; 
    font-style: normal;
}

body {
    font-family: 'Nunito', sans-serif;
}

.comments-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin-top: 10px;
    width: 80%;
}

.comments-list {
    margin-bottom: 20px;
    width: 100%;
}

.sort-button {
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: #ffffff;
    transition: color 0.2s ease-in-out;
}

.sort-button:hover {
    color: #007bff;
}

.comment {
    max-width: 600px;
    word-wrap: break-word;  
    overflow-wrap: break-word;
    white-space: normal;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.comment-text {
    margin-left: 5px;
    line-height: 18px;
    margin-top: 4px;
}

.comment-add {
    width: 600px;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

#comment-add-button{
    width: 130px;
}

.comment-area {
    resize: none;
    width: 560px;
    background-color: rgb(242, 242, 242);
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    border: none;
    font-size: 15px;
    font-family: Nunito;
}

.no-comments {
    text-align: center;
}

/*.comment-area::placeholder {
    font-size: 15px;
}*/

.comment-user-name {
    margin-left: 5px;
    font-weight: bold;
    font-size: 20px;
}

.comment-date {
    margin-left: 5px;
    margin-top: 6px;
    margin-bottom: 3px;
    font-size: small;
}

.comment-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.comment-options {
    position: relative;
}

.options-button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.options-menu {
    position: absolute;
    top: 20px;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 5px;
    z-index: 10;
}

.options-menu button {
    background: none;
    border: none;
    padding: 5px 10px;
    width: 100%;
    cursor: pointer;
    text-align: left;
}

.options-menu button:hover {
    background: #f0f0f0;
}
