.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-height: 85vh;
}

.modal-scroll-container {
    overflow-y: auto;
    max-height: 75vh; 
    padding-right: 5px; 
}

.modal-title {
    font-size: 30px;
    font-weight: 700;
    margin-top: -5px;
}

.modal-subtitle{
    font-size: 23px;
    font-weight: 600;
    text-align: center;
}

.close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: -5px;
}

.close-button {
    background: none;
    border: none;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.votes-table {
    width: 100%;
    border-collapse: collapse;
    color: black;
    text-align: center;
}

.votes-table th, .votes-table td {
    border: 1px solid #ddd;
    padding: 8px;
    color: black;
    text-align: center;
}

.votes-table th {
    background-color: #f4f4f4;
    text-align: center;
}

.member-item{
    display: flex;
    align-items: center;
}

.user-link {
    color: #222; 
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    padding-top: 2px;
    margin-left: 5px;
    transition: color 0.2s ease;
}

.user-link:hover {
    color: #555; 
    text-decoration: underline;
}

#create-group-content{
    max-width: 400px;
}

.private-group{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.private-group-label{
    margin-left: 5px;
    font-weight: 500;
    font-size: 17px;
    padding-bottom: 1px;
}

.group-invite-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

#select-wrapper3{
    width: 390px;
}

.section{
    margin-bottom: 10px;
}

.file-section{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
}

#file-type{
    height: 34px;
    width: 90px;
    margin-right: 5px;
}

#download{
    width: 120px;
}

.option-text{
    color: #2664bb;
    font-weight: 500;
    font-size: 18px;
}

.voter{
    padding-left: 20px;
}

.custom-select-wrapper {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
    margin-right: 5px;
}

.group-selection {
    width: 100%;
    height: 34px;
    padding: 5px 25px 5px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #2664bb;
    color: white;
    cursor: pointer;
}

.custom-arrow {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    pointer-events: none;
    color: white;
    font-size: 12px;
}

.second-round-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#second-round{
    width: 250px;
}