.notif-content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.notifications-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.invitation-card {
    background-color: var(--container-bg);
    color: var(--text-color);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    max-width: 650px;
    min-width: 550px;
}

.invitation-status {
    color: var(--text-color);
}

.inv-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-width: 190px;
    text-align: center;
}

.inv-date{
    text-align: center;
}

.inv-buttons {
    margin-right: 10px;
}

#inv-accept {
    background: linear-gradient(150deg, #80de83, #4CAF50);
}

#inv-reject {
    background: linear-gradient(150deg, #f97167, #f44336);
}

.group-name {
    color: #3a7bd5;
    font-weight: 700;
}