.profile-info{
    max-width: 600px;
    width: 600px;
    border-radius: 10px;
    background-color: azure;
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    font-size: 18px;
}

.profile-field{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 8px;
    border-radius: 8px;
    position: relative;
    align-items: center;
}

.profile-field-label{
    font-weight: bold;
    margin-right: 10px;
    padding-bottom: 3px;
}

.profile-field-name1, .profile-field-name2{
    font-size: 30px;
    font-weight: bolder;
    margin-right: 10px;
    margin-bottom: -5px;
    color: #3a7bd5;
}

.profile-field-mail{
    font-size: 20px;
    font-weight: 600;
    color: #3a7bd5;
}

.profile-input {
    border-radius: 7px;
    border: none;
    background-color: #e7f3fe;
    height: 30px;
    color: rgb(0, 0, 0);
    font-family: Nunito;
    font-size: 15px;
    font-weight: 649;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.3);
    padding-left: 10px;
}

.select-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 52%; 
    margin: 0 auto;
    height: 32px;
}

.group-selection {
    width: 100%;
    height: 100%;
    padding: 0 30px 0 10px; 
    border-radius: 7px;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: linear-gradient(150deg, #00d2ff, #3a7bd5);
    font-family: Nunito;
    font-size: 15px;
    font-weight: 649;
    color: azure;
    cursor: pointer;
}

.select-wrapper::after {
    content: '▼';
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: azure;
    font-size: 12px;
}

.group-selection option {
    background-color: #0084ff !important;
    color: white;
    padding: 8px;
    margin: 0;
    border: none;
    appearance: none;
}

.group-selection option:hover,
.group-selection option:focus,
.group-selection option:checked {
    background-color: #005fb8 !important;
    color: white;
}

.form-button-save {
    margin: 5px;
    height: 30px;
    width: 100px;
    max-width: 390px;
    border-radius: 5px;
    border: unset;
    background: linear-gradient(150deg, #00d2ff, #3a7bd5);
    color: azure;
    cursor: pointer;
    font-family: Nunito;
    font-size: 17px;
}

#address, #phone-number {
    display: flex;
    justify-content: space-between;
}

/*-------------------settings--------------------*/

.settings-section{
    max-width: 600px;
    width: 300px;
    border-radius: 10px;
    background-color: azure;
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    font-size: 18px;
}

.settings-option{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
}

#s-language, #s-theme{
    display: flex;
}

.settings-option-label{
    font-weight: bold;
    margin-right: 10px;
    padding-bottom: 3px;
}

.settings-checkbox{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 15px;
    cursor: pointer;
}

.select-wrapper2{
    position: relative;
    width: 52%; 
    height: 30px;
    margin-left: auto; 
    margin-right: 40px;
}

.select-wrapper2::after {
    content: '▼';
    position: absolute;
    right: -37px; 
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: azure;
    font-size: 12px;
}

.language-selection, .theme-selection{
    width: 200px;
    height: 30px;
    padding: 0 30px 0 10px; 
    border-radius: 7px;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: linear-gradient(150deg, #00d2ff, #3a7bd5);
    font-family: Nunito;
    font-size: 15px;
    font-weight: 649;
    color: azure;
    cursor: pointer;
}

.language-selection option, .theme-selection option{
    background-color: #0084ff !important;
    color: white;
    padding: 8px;
    margin: 0;
    border: none;
    appearance: none;
}

.form-button-create{
    margin: 5px;
    height: 30px;
    width: 200px;
    max-width: 390px;
    border-radius: 5px;
    border: unset;
    background: linear-gradient(150deg, #00d2ff, #3a7bd5);
    color: azure;
    cursor: pointer;
    font-family: Nunito;
    font-size: 17px;
}

.form-button-create-container{
    display: flex;
    justify-content: center;
}